<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">


                    <div class="col-md-6" style="margin-top: 10px;">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <a href="https://www.heuet.edu.cn/">河北经贸大学经济管理学院&copy;所有</a>
                            </div>
                        </div>
                        <div class="gap"></div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <span class="text-info">欢迎来到 |&nbsp;</span>
                                <span class="text-info">个性化&reg; |&nbsp;</span>
                                <span class="text-info"><a href="http://www.xmgc360.com">产品服务</a></span>

                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</footer>
